

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
            <mat-card-subtitle>Kézműves termékek</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Itt megtalálhatja az Ön számára legjobb <b>Kézműves termékeket</b>!
            </p>
            <h3 class="warning heading">Kettőt fizet hármat vihet akció!!!</h3>
            <p>
                <span class="warning">Az oldalon található termékek közül kettőt vásárol egyet ajándékba adunk.</span>
            </p>
            <p><mat-icon>person</mat-icon> Weboldal készítője: Török Zoltán</p>
            <p><mat-icon>person</mat-icon> Discord: torokzoliii#7176</p>
        </mat-card-content>
    </mat-card>
</div>
